<head>
  <meta charset="UTF-8">
  <script>
    $(document).ready(function() {
      $(".tabmenu").each(function() {
        var tab = $(this).children("ul");
        var tabBtn = tab.children("li").children("a");
        var content = tabBtn.nextAll();
        
        tabBtn.click(function(){ //탭버튼을 클릭했을때
        
        if( $(this).hasClass("on") ) return; // 이미 on 상태면 pass
        content.hide(); // 모든 컨텐츠 부분을 안보이게 한뒤
    
        $(this).nextAll().show(); // 클릭한 tab 버튼(a태그) 옆의 모든 태그들은 보이도록
        tabBtn.removeClass("on"); // 모든탭 버튼에 있던 on 클래스를 빼고
        $(this).addClass("on"); // 현재 클릭한 탭메뉴 버튼에 on 클래스 추가
          // 탭버튼를 쭉 돌면서 on 클래스가 있는 버튼만 on 이미지로 바꾸고
          // 나머지 버튼들은 off 이미지로 바꾼다.
          tabBtn.each(function() {
            var src;
            var img = $(this).children("img");
            if( $(this).hasClass("on") ) {
              src = img.attr("src").replace("_off.", "_on.");
            } else {
              src = img.attr("src").replace("_on.", "_off.");
            }
            img.attr("src", src);
          });
        });
        // 맨첫번째 탭버튼 클릭처리
        tabBtn.eq(0).click();
      });
    });
  </script>
</head>
<body>
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div>
  <center><p id="mypagetitle">My Page</p></center>
  <a href="/bookparty/search" ><img src="/images/home.png" width="30px" height="30px" /></a>
  <div class = "current-user"  style="display: inline-block; float: right">
    <div class = "userface" style = "display: inline-block" > <img width="30px" height="30px" src="/images/current-user.png" alt="current-user"> </div>
    <div class ="username" style="display: inline-block; font-size: 20px; color: white;"> <%= @username %> 님 </div>
  </div>
  </div>
  <br><br>
  <div class="tabmenu">
    <ul>
      <li><a href="#link"><input type="button" id="sellbookbtn" value="판매할 책" /></a>
        <ul class="tabcontent">
          <% @sellbook %>
          <div class = "wrapper" >
            <% @sellbook.each do |x| %>
              <%  Time.zone = 'Seoul'
                  now = Time.zone.now #현재시간은 계속 업데이트 됨 - 업데이트 되는값을 계속 집어넣어줘야지
                  deadline = x.booksellterm - now.to_i %>
              <script>
                $(function () {
                    $('#' + "endtime" + <%= x.id %>).countdown({until: +<%= deadline %>});
                });  //세미콜론 꼭붙여!!!!!!!!!
              </script>
              <%  if deadline <= 0 #종료된 것은 close 리스트에 임시저장(배열 따로만듬)
                    @close << x %>
              <%  else %>
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= x.book_image.url %>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">more_vert</i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">close</i></span>
                        <p><div id = "<%= "endtime"+(x.id).to_s %>"></div></p>
                        <p> 관련 태그 
                          <% sellboook_tag =  SellbooksTag.where(sellbook_id: x.id) %> 
                          <% sellboook_tag.each do |t| %>
                            <% taglist = Tag.find(t.tag_id) %>
                            #<%= taglist.tagname %>
                          <% end %> 
                        </p>
                        <p> 저자  <%= x.bookauthor %>  </p>
                        <p> 현재가격  <%= x.bookprice %> 원 </p>
                        <p> 즉구가격   <%= x.nowbookprice %> 원 </p>
                        <p><a href="#" class="btn btn-primary" role="button">판매 취소</a> <a href="#" class="btn btn-default" role="button">수정</a></p>
                  </div>
                </div>
              <% end %>
            <% end %>
            
            <% @close.each do |x| %> <!-- 종료된거 뿌려줌  -->
            
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= x.book_image.url %>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">more_vert</i></span>
                    <p><a href="#"><%= x.booktitle %></a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">close</i></span>
                                            <h5>이건 종료된 것입니다</h5>
                      <% auction = Auction.where(sellbook_id: x.id, auctionprice: x.bookprice).take
                          if auction.nil? %>
                            <h5>아무도 안삼...</h5>
                      <%  else  %>
                          <%  notification = Notification.where(sellbook_id: x.id, user_id: @userid).take
                              #unless notification.nil?
                              #  notification.checked = 1
                              #  notification.save
                              #end %>
                            <h5><%= auction.user_id %>님이 <%= auction.auctionprice %>원에 구매하셨음! 거래성공 </h5>
                      <%  end  %>
                      <h5><%= x.booktitle %></h5>
                      <p> 관련 태그 
                        <% sellboook_tag = SellbooksTag.where(sellbook_id: x.id) %> 
                        <% sellboook_tag.each do |t| %>
                          <% taglist = Tag.find(t.tag_id) %>
                          #<%= taglist.tagname %>
                        <% end %> 
                      </p>
                      <p> 저자  <%= x.bookauthor %>  </p>
                      <p> 현재가격  <%= x.bookprice %> 원 </p>
                      <p> 즉구가격   <%= x.nowbookprice %> 원 </p>
                      <p><a href="#" class="btn btn-primary" role="button">판매 취소</a> <a href="#" class="btn btn-default" role="button">수정</a></p>
                    </div>
                </div>
            <% end %>
          </div>
        </ul>
      </li>
        
      <li><a href="#link"><input type="button" id="buybookbtn" value="구매할 책" /></a>
        <ul class="tabcontent">
            <% @auction.each do |a| %>  <!-- 최근 업데이트 한 순으로 재배열 필요 -->
              <% @auction_book = Sellbook.where(id: a.sellbook_id).order('booksellterm ASC') %> <!--  #auction의 sellbook_id와 같은 책정보수집  --> 
              <div class = "sell-book-list" >
                <% @auction_book.each do |x| %>
                  <%  Time.zone = 'Seoul'
                      now = Time.zone.now
                      deadline_buy = x.booksellterm - now.to_i %>
                  <script>
                    $(function () {
                        $('#' + "endtime_buy" + <%= x.id %>).countdown({until: +<%= deadline_buy %>});
                    });  //세미콜론 꼭붙여!!!!!!!!!
                  </script>
                  <%  if deadline_buy <= 0 #종료된 것은 close 리스트에 임시저장(배열 따로만듬)
                        @close_buy << x %>
                  <%  else %>
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= x.book_image.url %>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">more_vert</i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">close</i></span>
                        <p><div id = "<%= "endtime"+(x.id).to_s %>"></div></p>
                        <p> 관련 태그 
                          <% sellboook_tag =  SellbooksTag.where(sellbook_id: x.id) %> 
                          <% sellboook_tag.each do |t| %>
                            <% taglist = Tag.find(t.tag_id) %>
                            #<%= taglist.tagname %>
                          <% end %> 
                        </p>
                        <p> 저자  <%= x.bookauthor %>  </p>
                        <p> 현재가격  <%= x.bookprice %> 원 </p>
                        <p> 즉구가격   <%= x.nowbookprice %> 원 </p>
                        <p><a href="#" class="btn btn-primary" role="button">판매 취소</a> <a href="#" class="btn btn-default" role="button">수정</a></p>
                  </div>
                </div>
                  <% end %>
                <% end %>
            <% end %>
            
            <% @close_buy.each do |x| %> <!-- 종료된거 뿌려줌  -->
        
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= x.book_image.url %>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">more_vert</i></span>
                    <p><a href="#"><%= x.booktitle %></a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">close</i></span>
                                            <h5>이건 종료된 것입니다</h5>
                      <% auction = Auction.where(sellbook_id: x.id, auctionprice: x.bookprice).take
                          if auction.nil? %>
                            <h5>아무도 안삼...</h5>
                      <%  else  %>
                            <% notification = Notification.where(sellbook_id: x.id, user_id: @userid).take
                              #unless notification.nil?
                              #  notification.checked = 1
                              #  notification.save
                              #end %>
                            <h5><%= auction.user_id %>님이 <%= auction.auctionprice %>원에 구매하셨음! 거래성공 </h5>
                      <%  end  %>
                      <h5><%= x.booktitle %></h5>
                      <p> 관련 태그 
                        <% sellboook_tag = SellbooksTag.where(sellbook_id: x.id) %> 
                        <% sellboook_tag.each do |t| %>
                          <% taglist = Tag.find(t.tag_id) %>
                          #<%= taglist.tagname %>
                        <% end %> 
                      </p>
                      <p> 저자  <%= x.bookauthor %>  </p>
                      <p> 현재가격  <%= x.bookprice %> 원 </p>
                      <p> 즉구가격   <%= x.nowbookprice %> 원 </p>
                      <p><a href="#" class="btn btn-primary" role="button">판매 취소</a> <a href="#" class="btn btn-default" role="button">수정</a></p>
                    </div>
                </div>
            <% end %>
            
            </div>
        </ul>
      </li>
    </ul>
  </div>
</body>

