<head>
  <title>셀러페이지</title>
</head>
<body>
  <% if @name == "" %>
      <center>
          <div>
              <%=@showno %>
          </div>
      </center>
  
  <% else %>
    <% uid = User.find_by_username(@name).id
       sellbook = Sellbook.where(user_id: uid).order('booksellterm ASC')
       warn = Warn.find_by_user_id(uid)
       if warn.nil?
         w = 0
       else
         w = warn.count
       end
    %>
    <div>
      <center> <p id="mypagetitle"><%= @name %> Page</p> </center>
      <center> <h5>신고 <%= w %>회</h5></center>
      <div class = "current-user"  style="display: inline-block; float: right">
      </div>
    </div>
    <br><br>
    <ul>
      <li><a href="#link"><input type="button" id="sellbookbtn" value="판매한 책" /></a>
        <ul>
          <% sellbook %>
          <div class = "wrapper">
            <% sellbook.each do |x| %>
              <%  Time.zone = 'Seoul'
                  now = Time.zone.now #현재시간은 계속 업데이트 됨 - 업데이트 되는값을 계속 집어넣어줘야지
                  deadline = x.booksellterm - now.to_i %>
              <script>
                $(function () {
                  var id = <%= x.id %>;
                  $('#' + id).countdown({until: +<%= deadline %>});
                });
              </script>
              <%  if deadline <= 0 #종료된 것은 close 리스트에 임시저장(배열 따로만듬)
                    @close << x %>
              <%  else %>
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= x.book_image.url %>" style="width:400px; height:300px;">
                  </div>
                  <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator grey-text text-darken-4">
                    <%= x.booktitle %><i class="material-icons right">more_vert</i></span>
                     </br><b><p id = "<%= x.id %>"></p></b>
                    <p> <% sellboook_tag =  SellbooksTag.where(sellbook_id: x.id) %> 
                        <% sellboook_tag.each do |t| %>
                          <% taglist = Tag.find(t.tag_id) %>
                          <a href=<%= "/bookparty/tagresult?tagSearch="+ taglist.tagname %>>
                            #<%= taglist.tagname %>
                          </a>
                        <% end %>
                    </p>
                  </div>
                  <div class="card-reveal" >
                    <span class="card-title grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">close</i></span>
                        <p> 저자  <%= x.bookauthor %>  </p>
                        <p> 현재가격  <%= x.bookprice %> 원 </p>
                        <p> 즉구가격   <%= x.nowbookprice %> 원 </p>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% @close.each do |x| %> <!-- 종료된거 뿌려줌  -->
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= x.book_image.url %>" style="width:400px; height:300px;">
                  </div>
                  <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">more_vert</i></span>
                    </br><b><span>종료된 매물입니다. </span></b>
                    <p> <% sellboook_tag =  SellbooksTag.where(sellbook_id: x.id) %> 
                        <% sellboook_tag.each do |t| %>
                          <% taglist = Tag.find(t.tag_id) %>
                          <a href=<%= "/bookparty/tagresult?tagSearch="+ taglist.tagname %>>
                            #<%= taglist.tagname %>
                          </a>
                        <% end %>
                    </p>
                  </div>
                  <div class="card-reveal" id=<%= "card-reveal-sell"+(x.id).to_s %>>
                    <span class="card-title grey-text text-darken-4"><%= x.booktitle %><i class="material-icons right">close</i></span>
                      <% auction = Auction.where(sellbook_id: x.id, auctionprice: x.bookprice).take
                          if auction.nil? %>
                            <center>----------------------------------</center>
                            <center>거래실패</center>
                            <center>----------------------------------</center>
                      <%  else  %>
                            <center>----------------------------------</center>
                            <center>거래성공</center>
                            <center>----------------------------------</center>
                      <%  end  %>
                      <p> 저자  <%= x.bookauthor %>  </p>
                      <p> 현재가격  <%= x.bookprice %> 원 </p>
                      <p> 즉구가격   <%= x.nowbookprice %> 원 </p>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        </ul>
      </li>
    </ul>
  <% end %>
</body>
