    <!-- 해당 태그가 존재하지 않을때 -->
    <% if @showno %>
        <center>
        <div class="showNo">
            <%=@showno %>
        </div>
        </center>
    <%end%>

    <!-- 검색 태그 관련 매물리스트 -->
    <br><br>
    <!-- 해당 태그가 존재 할 때 -->
    <% if @sellbook %>
        <div class="showYes">
            <h2> <%=@showyes %> </h2>
        </div>
        <% @sellbook %>
        <% @sellbook.each do |x| %>
            <p><% sellboook_tag =  SellbooksTag.where(sellbook_id: x.id) %> 
            <% sellboook_tag.each do |t| %>
                <% taglist = Tag.find(t.tag_id) %>
                #<%= taglist.tagname %>
            <% end %></p> <br>
            <p>책 제목 : <%= x.booktitle %> </p> <br>
            <p>책 저자 :<%= x.bookauthor %> </p> <br>
            <p>책 출판사 <%= x.bookpublisher %> </p> <br>
            <p>책 가격 : <%= x.bookprice %> 원 </p> <br>
            
            <% if x.bookstate == 1 %>
                <p>책 상태 : "상" </p> <br>
            <% elsif x.bookstate == 2 %>
                <p>책 상태 : "중" </p> <br>
            <% elsif x.bookstate == 3 %>
                <p>책 상태 : "하" </p> <br>
            <% end %>
    
            <p>경매 기간 : <%= x.booksellterm %> </p> <br>
            <hr>
        <% end %>
    <% end %>    