<head>
  <title>태그결과창 </title>
</head>
<body>
  <!-- 해당 태그가 존재하지 않을때 -->
  <% if @showno %>
      <center>
          <div class="showNo">
              <%=@showno %>
          </div>
      </center>
  <% end %>

  <!-- 검색 태그 관련 매물리스트 -->
  <br><br>
    <!-- 해당 태그가 존재 할 때 -->
  <% if @sellbook %>
    <div class="showYes">
        <h2> <%=@showyes %> 에 대한 검색결과입니다.  </h2>
    </div>
    <% @sellbook %>
    <% @sellbook.each do |x| %>
      <!-- now는 현재시간 endtime은 종료시간 deadline은 반복문이 도는 기간 -->
      <%  Time.zone = 'Seoul'
          now = Time.zone.now #현재시간은 계속 업데이트 됨 - 업데이트 되는값을 계속 집어넣어줘야지
          deadline = x.booksellterm - now.to_i %>
      <%  if deadline <= 0 %> <!-- deadline끝나면 경매 종료 -->
          <b><p id = <%= 'endstate'+(x.id).to_s %>>종료된 매물입니다. </p></b>
      <%  end %>
      <p>
        <% sellboook_tag =  SellbooksTag.where(sellbook_id: x.id) %> 
        <% sellboook_tag.each do |t| %>
            <% taglist = Tag.find(t.tag_id) %>
            #<%= taglist.tagname %>
        <% end %>
      </p> <br>
        <%= x.id %>
      <p>책 제목 : <%= x.booktitle %> </p> <br>
      <p>책 사진 : </p>
          <img src="<%= x.book_image.url %>" width="100px" height="200px"> <br>
      <p>책 저자 :<%= x.bookauthor %> </p> <br>
      <p>책 출판사 <%= x.bookpublisher %> </p> <br>
      <p>책 가격 : <%= x.bookprice %> 원 </p> <br>
          
      <% if x.bookstate == 1 %>
          <p>책 상태 : "상" </p> <br>
      <% elsif x.bookstate == 2 %>
          <p>책 상태 : "중" </p> <br>
      <% elsif x.bookstate == 3 %>
          <p>책 상태 : "하" </p> <br>
      <% end %>

      <script>
        $(function () {
          var id = <%= x.id %>;
            
          $('#' + id).countdown({until: +<%= deadline %>});
          
          $('#' + "startExactBuy" + id).click(function() {
            $('#' + "ExactBuy_open" + id).show();
          });
            
          $('#' + "startAuction" + id).click(function() {
            //case -> "동일한 ip인사람이 책 입찰하려할때!" (다른 계정으로 책 등록하고 입찰 참여할경우)
            if (<%= request.remote_ip.gsub(".","") %> == <%= x.sellerip.gsub(".","") %>) {
              alert("너가 등록해 놓고 왜 너가 가격올림?ㅋㅋㅋㅋ\n 방금 ip <%= request.remote_ip %> = 판매자 ip <%= x.sellerip %>");
            } 
            else
              $('#' + "Auction_open" + id).show();
          });
          
          $('#' + "joinAuction" + id).click(function() {
            var update_class = $('.modal-content'); //수정할 값이 있는 클래스 선언
            var bookprice = update_class.find('.'+'auction-update'+id).val(); 
            //입찰가를 누르는순간 그때 읽어야한다
            if (<%= x.bookprice %> <= bookprice) { //첫번쨰 case - (검색했을 당시의) 디비에 등록되어있는 현재가보다 작을때
              $.ajax({
                type: "POST",		//요청방식
                url: "/bookparty/auction_price_update",	//요청URL
                data: {
                  id: id,
                  bookprice: bookprice
                },
                dataType:"json", //응답데이타타입
                
                success: function(result) {	//정상응답일 경우
                  window.location.href = '/bookparty/tagresult?tagSearch=<%= @showyes %>';
                  return true;
                },
                error: function(result) {	//에러응답일 경우
                  alert("비정상적인 입찰이 시도되었습니다.");
                  window.location.href = '/bookparty/tagresult?tagSearch=<%= @showyes %>';
                  console.log(result);
                  return false;
                }
              });
              
              $('#' + "Auction_open" + id).hide();
                
            }
            else
              alert("입찰가를 현재가보다 높게 불러주세요!");
          });
            
          $('.close').click(function() {
            $('#' + "Auction_open" + id).hide();
            $('#' + "ExactBuy_open" + id).hide();
          });
        });
      </script>
      <!-- deadline countdown -->
      <p>경매 기간 : <div id = "<%= x.id %>"></div> </p> <br>
      <!-- 입찰하기, 즉구 버튼 Trigger/Open The Modal -->
      <!-- case- "같은 계정일 때" - 책 올린사람이 입찰 못하게! + 00:00:00 일때도 막아놓음 -->
      <% if x.user_id != session[:user_id] && deadline > 0 %> 
        <input type="image" id = "<%= "startAuction"+(x.id).to_s %>" src="/images/actionbtn.png" width="85" height="35">
        <input type="image" id = "<%= "startExactBuy"+(x.id).to_s %>" src="/images/sellbuynow.png" width="85" height="35">
      <% end %>
      <!-- The Auction Modal (입찰하기버튼 눌렀을 때)-->
      <div class = "modal" id = "<%= "Auction_open"+(x.id).to_s %>">
        <div class="modal-content">
            <span class="close" > x </span>
            <table>
              <tr>
                <td>
                  <p> <%= x.booktitle %> </p>
                  <img src="<%= x.book_image.url %>" width="100px" height="200px"> <br>
                  <p> <b>현재가격  : <%= x.bookprice %> 원 </b> </p>
                  <p> 즉구가격  : <%= x.nowbookprice %> 원 </p>
                  <p> 입찰가격 : <input type = "text" class = "<%= "auction-update"+(x.id).to_s %>" name = "bookprice"> 원 </p> <br><br> 
                  <input type="image" id = "<%= "joinAuction"+(x.id).to_s %>" data-id = "<%= x.id %>" src="/images/actionbtn.png" width="85" height="35">
                </td>
                <td>
                  <h3>입찰 현황</h3>
                  <!-- 사람들이 얼마에 입찰하고 있는지 auction log 찍자 -->
                  <% @showAuctionHistory = Auction.where(sellbook_id: x) %>
                  <% @showAuctionHistory.order('auctionprice DESC').each do |a| %>
                    <%= a.user_id %> 님이 <%= a.auctionprice %>원에 <%= a.created_at %>에 입찰하셨습니다. <br>
                  <% end %>
                </td>
                </tr>
            </table>
        </div>
      </div>
      <!-- The ExactBuy Modal (즉구버튼 눌렀을 때)-->
      <div class = "modal" id = "<%= "ExactBuy_open"+(x.id).to_s %>">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" >x</span>
          <p><%= x.booktitle %></p>
          <p>현재가격  : <%= x.bookprice %> 원 </p>
          <p><b>즉구가격  : <%= x.nowbookprice %> 원 </b></p>
        </div>
      </div>
      <hr>
    <% end %> <!-- sellbook loop end -->
  <% end %>  <!-- if end -->
</body>