 <head>
     <title>태그결과창 </title>
        <%= javascript_include_tag 'countdown' %>
 </head>
 <body>
    <!-- 해당 태그가 존재하지 않을때 -->
    <% if @showno %>
        <center>
        <div class="showNo">
            <%=@showno %>
        </div>
        </center>
    <% end %>

    <!-- 검색 태그 관련 매물리스트 -->
    <br><br>
    <!-- 해당 태그가 존재 할 때 -->
    <% if @sellbook %>
        <div class="showYes">
            <h2> <%=@showyes %> </h2>
        </div>
        <% @sellbook %>
        <% @sellbook.each do |x| %>
            <!-- now는 현재시간 endtime은 종료시간 -->
            <% Time.zone = 'Seoul'
                now = Time.zone.now
                endtime = x.created_at + x.booksellterm*24.hours
                deadline = endtime.to_i - now.to_i %>
                
            <p><% sellboook_tag =  SellbooksTag.where(sellbook_id: x.id) %> 
            <% sellboook_tag.each do |t| %>
                <% taglist = Tag.find(t.tag_id) %>
                #<%= taglist.tagname %>
            <% end %></p> <br>
            
            <p>책 제목 : <%= x.booktitle %> </p> <br>
            <p>책 image : </p>
            <img src="<%= x.book_image.url %>" width="100px" height="200px"> <br>
            <p>책 저자 :<%= x.bookauthor %> </p> <br>
            <p>책 출판사 <%= x.bookpublisher %> </p> <br>
            <p>책 가격 : <%= x.bookprice %> 원 </p> <br>
            
            <% if x.bookstate == 1 %>
                <p>책 상태 : "상" </p> <br>
            <% elsif x.bookstate == 2 %>
                <p>책 상태 : "중" </p> <br>
            <% elsif x.bookstate == 3 %>
                <p>책 상태 : "하" </p> <br>
            <% end %>

            <p>경매 기간 : <%= x.booksellterm %> </p> <br>
            
            <%= x.created_at %>
            <hr>
    
    <div id="countdowntimer"><span id="future_date"><span></div>   

            <!-- func -->
    	    <script>
                $(function () {
                    $('#<%= x.id %>').countdown({until: +<%= deadline %>});
                    
                    $('#'+"startAuction"+<%= x.id %>).click(function(){
                        $('#'+"Auction_open"+<%= x.id %>).show();
                        console.log("open startAuction modal"+<%= x.id %>);
                    });
                    
                    $('#'+"startExactBuy"+<%= x.id %>).click(function(){
                        $('#'+"ExactBuy_open"+<%= x.id %>).show();
                        console.log("open startExactBuy modal"+<%= x.id %>);
                    });
                    
                    $('#'+"joinAuction"+<%= x.id %>).click(function(){
                        $('#' + "Auction_open" + <%= x.id %>).hide();
                        //price update
                        console.log("join!"+<%= x.id %>);
                    });
                    
                    $('.close').click(function(){
                        $('#' + "Auction_open" + <%= x.id %>).hide();
                        $('#' + "ExactBuy_open" + <%= x.id %>).hide();
                        console.log("click");
                    });
                });
            </script>
            <!-- deadline countdown -->
            <p>경매 기간 : <div id = "<%= x.id %>"></div></p> <br>
            
            <!-- Trigger/Open The Modal -->
            <input type="image" id = "<%= "startAuction"+(x.id).to_s %>" src="/images/actionbtn.png" width="85" height="35">
            <input type="image" id = "<%= "startExactBuy"+(x.id).to_s %>" src="/images/sellbuynow.png" width="85" height="35">
           
            <!-- The Auction Modal -->
            <div class = "modal" id = "<%= "Auction_open"+(x.id).to_s %>">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close" >x</span>
                    <p><%= x.booktitle %></p>
                        <p><b>현재가격  : <%= x.bookprice %> 원 </b></p>
                        <p>즉구가격  : <%= x.nowbookprice %> 원 </p>
                        입찰가격 : <input type = "text" name = "auctionprice"> 원 <br><br> 
                        <input type="image" id = "<%= "joinAuction"+(x.id).to_s %>" src="/images/actionbtn.png" width="85" height="35">
              </div>
            </div>
            
            <!-- The ExactBuy Modal -->
            <div class = "modal" id = "<%= "ExactBuy_open"+(x.id).to_s %>">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close" >x</span>
                    <p><%= x.booktitle %></p>
                        <p>현재가격  : <%= x.bookprice %> 원 </p>
                        <p><b>즉구가격  : <%= x.nowbookprice %> 원 </b></p>
              </div>
            </div>
            
            <hr>
        <% end %>
    <% end %>  
</body>

