<!DOCTYPE html>
<html>
<head>
  <title>책 파는 사람들 북파리</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'countdown' %>
  <%= csrf_meta_tags %>
<script src="/javascript/jquery.plugin.js"></script>
<script src="/javascript/jquery-clockpicker.js"></script>
<script src="/javascript/jquery-datepicker.js"></script>
<script src="/javascript/jquery.tagsinput.js"></script>
<script src="/javascript/jquery-countdown.js"></script>
<script src="/javascript/chart.js"></script>
   
</head>
<body>
<script>
  $(function() {
    $(document).ready(function() {
      setInterval(function() {
        jQuery.ajax({
          url: "/bookparty/noti",
          type: "GET",
          success: function(result) {	//정상응답일 경우
            console.log(result);
            if (result.soldcount > 0) {
              document.getElementById('sell').innerHTML = result.soldcount;
              document.getElementById('sell_link').href = '/bookparty/my_page#sell_link'+result.sellid;
            }
            if (result.buyedcount > 0) {
              document.getElementById('buy').innerHTML = result.buyedcount;
              document.getElementById('buy_link').href = '/bookparty/my_page#buybook';
            }
            return true;
          },
          error: function(result) {	//에러응답일 경우
            console.log(result);
            return false;
          }
        });
      }, 1000); // In every 1 seconds
    });
  });
</script>

<% unless session[:user_id].nil? %>
  <a class="users" href="/bookparty/search" style="text-decoration:none; font-size: 15px" >
    <i class="material-icons" style="font-size:60px;">airplay</i>
  </a>
  <a href="/bookparty/storebookinfo">
    <input type = "image" id="storebtn" src="/images/storebookinfo.png">
  </a>
  <a class = "my_page" href="/bookparty/my_page">
    <input type = "image" id="mypagebtn" src="/images/mypage.png" style="margin-left: 15px;">
  </a>
  <div>
    <ul id="dropdown2" class="dropdown-content">
      <li>
        <a id="sell_link"><p style="font-size:10pt;">판매<span class="new badge" id="sell"></span></p></a>
      </li>
      <li>
        <a id="buy_link"><p style="font-size:10pt;">구매<span class="new badge" id="buy"></span></p></a>
      </li>
    </ul>
  </div>
  <a class="btn-medium dropdown-button" href="#!" data-activates="dropdown2" style="padding:1;">
    <i class="mdi-navigation-arrow-drop-down center">
    <i class="material-icons" style="font-size:40px;">chat</i></i>
  </a>
<% end %>
<%= yield %>

</body>
</html>
